<div class="main-wrapper">

    <div class="page-content pt-0 pb-0">
        <div class="booking-success-col">
            <div class="back-btn">
                <a href="#" class="back link"><img src="assets/pwa/assets/images/left-arrow-big.svg" alt=""></a>
            </div>
            <div class="booking-middle">
                <div class="booking-middle-inner">
                    <span class="tick-icon"><img src="assets/pwa/assets/images/QR_Sample.png" alt=""></span>
                    <a class="sidebar-logout" href="#"><span><img src="assets/pwa/assets/images/open-account-logout.svg" alt=""></span>Add to Wallet
                    </a>
                    <div class="success-full-text">
                        <h3>Reservation booked Successfully!</h3>
                        <p> Reservation ID #4524352</p>
                        <p>Your visit is with <br><span>Jefferson Health</span> on <span>November 19 2021 5:00 PM</span></p>
                        <p class="clinic-direction"> <i class="fas fa-map-marker-alt"></i> <a href="javascript:void(0);"> Map Me!</a></p>
                    </div>
                    <div class="view-btn-col"><a href="#" class="btn">Log in</a></div>
                </div>
            </div>
        </div>
    </div>

</div>